<h2>Congrats, {{newGame}} you won. Would you like to play again? </h2>

<p>The word was {{word}}</p>
<form class="" action="/restart" method="post">
  <input type="submit" name="restart" value="New Game">
</form>
